html {
    font-size: 16px; // base font-size
    height: 100%;
    font-family: sans-serif;
}

body {
    height: inherit;
}

.App {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    padding: 2em;
    position: relative;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    .navbar-container {
        background: url('./nav_menu_bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right top;
        width: 100%;
        display: flex;
        align-items: center;
        .logo {
            width: 75%;
            display: flex;
            align-items: center;
            padding: 0 0 0 1em;
            p:first-child {
                position: relative;
                margin-right: 2em;
                border: 2px solid white;
                border-radius: 5px;
                width: 3em;
                height: 2.5em;
                span {
                    background: url('./7-11-clr-logo.jpg');
                    background-repeat: no-repeat;
                    background-size: cover;
                    position: absolute;
                    background-position: center;
                    top: 5px;
                    bottom: 5px;
                    left: 5px;
                    right: 5px;
                }
            }
            p:nth-child(2) {
                height: 2.5em;
                border: 1px solid #ddd;
                margin-right: 2em;
            }
            p:nth-child(3) {
                color: #ddd;
                text-transform: uppercase;
                cursor: pointer;
            }
        }
        .icons {
            width: 25%;
            display: flex;
            justify-content: space-around;
            i {
                font-size: 2.5rem;
                cursor: pointer;
            }
        }
    }
    .stats-container {
        display: flex;
        justify-content: space-between;
        background: #ddd;
        border: 1px solid black;
        .activity-snapshot,
        .sales-snapshot {
            width: 49%;
        }
    }
    .main-container {
        position: relative;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        .tip-container {
            flex-grow: 1;
        }
    }
}

.card-container {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    margin-top: 1em;
    width: 28%;
    display: flex;
    flex-direction: column;
    padding: 1em;
    text-align: center;
    .navbar, .horizontal-separator, 
    .items, .total, .details {
        width: 100%;
    }
    .navbar {
        display: flex;
        &.flex-column {
            flex-direction: column;
        }
        p {
            margin: 0.2em 0.5em ;
        }
        p:first-child {
            span {
                margin: 0 auto;
                display: block;
                width: 5em;
                height: 5em;
                border: 1px solid green;
                border-radius: 2.5em;
                background: black;
                i {
                    font-size: 4.5em;
                    color: white;
                }
            }
        }
        .creds {
            p:nth-child(1) {
                font-size: 2rem;
            }
            p:nth-child(2) {
                font-size: 1.3rem;
            }
        }
    }
    .horizontal-separator {
        border: 2px solid #ddd;
        width: 100%;
    }
    .items {
        .item {
            display: flex;
            width: 100%;
            justify-content: space-between;
            .desc { 
                margin-bottom: 0.2em;
                span:first-child {
                    margin-right: 1em;
                }
            }
            .price {
                margin-bottom: 0.2em;
            }
        }
    }
    .total {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        span {
            display: block;
            &.items {
                font-size: 1.5em;
            }
        }
    }

    button {
        height: 2em;
        background: #646464;
        color: white;
        font-size: 1.2rem;
    }
}

.ReactModalPortal {
    .card-container {
        width: 65%;
        margin: 0 auto;
    }
}